#menuPor{
	width: 156px;
	height: 182px;
	background: url(../images/human/menuPor_off.gif) no-repeat;
	margin-left: 0px;
	overflow:hidden;
	position:relative;
}
#menuPor #m1{
	width:156px;
	height: 34px;
	position:absolute;
	top:0;
	left:0;
}
#menuPor a#m1:hover,#menuPor a#m1:focus,#menuPor a#m1:active{
	background: url(../images/human/menuPor_on.gif) no-repeat;
}

#menuPor #m2{
	width:156px;
	height: 34px;
	position:absolute;
	top:35px;
	left:0;
}
#menuPor a#m2:hover,#menuPor a#m2:focus,#menuPor a#m2:active{
	background: url(../images/human/menuPor_on.gif) no-repeat 0 -35px;
}
#menuPor #m3{
	width:156px;
	height: 34px;
	position:absolute;
	top:70px;
	left:0;
}
#menuPor a#m3:hover,#menuPor a#m3:focus,#menuPor a#m3:active{
	background: url(../images/human/menuPor_on.gif) no-repeat 0 -70px;
}

.Ad{
   width:auto;
	margin-top: 9px;
	overflow:hidden;
}
.Ad a{
	text-decoration: none;
	width:auto;
	height:85px;
	border:0px solid #c9c9c9;
	margin-top: 9px;
	overflow:hidden;
}
.Ad a:hover{
	text-decoration: none;
	border:3px solid #c60e00;
}
#current_m1{
	background: url(../images/human/menuPor_on.gif) no-repeat;
	width:156px;
	height: 34px;
	position:absolute;
	top:0;
	left:0;
}
#current_m2{
	background: url(../images/human/menuPor_on.gif) no-repeat 0 -35px;
	width:156px;
	height: 34px;
	position:absolute;
	top:35px;
	left:0;
}
#current_m3{
	background: url(../images/human/menuPor_on.gif) no-repeat 0 -70px;
	width:156px;
	height: 34px;
	position:absolute;
	top:70px;
	left:0;
}
